/* Fonts */
@font-face {
    font-family: 'title_font';
    src: url('fonts/Georama-VariableFont_wdthwght.ttf') format('truetype');
    font-weight: 400;
    font-stretch: 130%;
    font-style: normal;
}

@font-face {
    font-family: 'text_font';
    src: url('fonts/Georama-VariableFont_wdthwght.ttf') format('truetype');
    font-weight: 210;
    font-stretch: 130%;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'text_font', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #F4F1DE;
}
.homepage{
    margin-left: 80px;
    margin-right: 80px;
    background: #e1f1ec;
}
.institute{
    background: #e1f1ec;
    margin-left: 80px;
    margin-right: 80px;
}
.archive{
    margin-left: 80px;
    margin-right: 500px;
    background: #e1f1ec;
    /* margin-right: 500px; */
}
.archive-page{
    margin-left: 80px;
    margin-right: 500px;
}
#local_global{
    background: #f6eded;
}
#community_engagement{
    background: #f4f4e8;
}
#access_inclu{
    background: #e9f5f9;
}
#adapt_resp{
    background: #f0eff8;
}
#roadmaps_{
    background: #e5ffed;
}
#outside-edgelands {
    background: #fff2e5;
}

header {
    color: black;
    padding: 1rem;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 1rem; /* espace entre le logo et le titre */
    padding: 1rem;
    justify-content: center;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'title_font';
}

h1 {
    font-size: 35px;
}

h2 {
    color: #005B52;
    margin-bottom: 1.8rem;
    font-size: 30px;
}

.institute h2{
    font-size: 20px;
}

.carte-titre{
    text-transform: uppercase;
}


#community_engagement h2{
    color: #d9e021;
    text-transform: uppercase;
}
/* #community_engagement summary{
    color: #d9e021;
    font-size: 30px;
    text-transform: uppercase;
} */

#local_global h2{
    color: #ef3f49;
    text-transform: uppercase;
}
/* #local_global summary{
    color: #ef3f49;
    font-size: 30px;
    text-transform: uppercase;
} */

#access_inclu h2{
    color: #1781ba;
    text-transform: uppercase;
}
/* #access_inclu summary{
    color: #1781ba;
    font-size: 30px;
    text-transform: uppercase;
} */

#adapt_resp h2{
    color: #6a68a9;
    text-transform: uppercase;
}
/* #adapt_resp summary{
    color: #6a68a9;
    font-size: 30px;
    text-transform: uppercase;
} */

#roadmaps_ h2{
    color: #70b744;
    text-transform: uppercase;
}
/* #roadmaps_ summary{
    color: #70b744;
    font-size: 30px;
    text-transform: uppercase;
} */
#outside_edgelands h2{
    color: #ed8540;
    text-transform: uppercase;
}
/* #outside_edgelands summary{
    color: #ed8540;
    font-size: 30px;
    text-transform: uppercase;
} */

footer {
    margin-top: 50px;
    color: black;
}
/* .archive footer {
    color: #00B08B;
} */

/* footer a {
    color: white;
} */

p {
    margin-bottom: 1.5rem;
}

ul {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}

ol {
    margin-left: 1.2rem;
    margin-bottom: 1.5rem;
}

details {
    margin-bottom: 1.5rem;
}
summary {
    font-family: 'title_font';
    color: #005B52;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
hr{
    margin-top: 40px;
    margin-bottom: 40px;
}

.bottom-message-home{
    font-family: 'text_font';
    color: #005B52;
    font-size: 13px;
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

/* Conteneur pour aligner les 3 boutons horizontalement */
.boutons-container {
  display: flex;
  justify-content: space-between; /* Répartit l'espace équitablement */
  gap: 20px; /* Espace entre les boutons */
  flex-wrap: wrap; /* Passe à la ligne sur mobile si besoin */
  margin-top: 40px;
}
.boutons-stacked{
  display: flex;
  flex-direction: column; /* empile verticalement */
  gap: 20px; /* Espace vertical entre chaque bouton */
  align-items: stretch; /* Force les boutons à prendre toute la largeur disponible */
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Le lien qui englobe tout (le bouton complet) */
.homepage .carte-bouton {
  display: flex;
  flex-direction: column; /* Empile le corps et le pied verticalement */
  width: 30%; /* Largeur approximative pour 3 boutons (ajustez selon besoin) */
  border-radius: 8px; /* round corners */
  overflow: hidden; /* round corners */
}
.archive .carte-bouton {
  display: flex;
  flex-direction: column; /* Empile le corps et le pied verticalement */
  text-decoration: none; /* Enlève le soulignement du lien */
  width: 100%; /* Le bouton prend maintenant 100% de la largeur du conteneur */
  border-radius: 8px; /* round corners */
  overflow: hidden; /* round corners */
}
.archive #lists .carte-bouton{
    flex: 1; /* the buttons get displayed side by side on the same line rather than stacked on top of each other */
}
.archive #lists .carte-corps{ /* centering the text in those specific buttons */
    justify-content: center;
    align-items: center;
}

.carte-bouton:hover {
  transform: translateY(-3px); /* Pushes up the button a little bit upon hovering */
}

/* Partie haute : Titre + Background clair */
.carte-corps {
  padding: 30px 20px;
  color: #333;
  flex-grow: 1; /* Permet aux boutons d'avoir la même hauteur si les titres varient */
  display: flex;
}
.homepage .carte-corps{ /* we want the text to be centered only for the homepage */
  display: flex;
  justify-content: center;
}
.content-carte-titre {
  padding: 10px 20px;
  text-align: left;
  display: flex;
  font-family: 'title_font';
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
}

.carte-titre {
  font-size: 15px;
  font-family: 'title_font'
}

.homepage .carte-titre{
  font-size: 20px;
  font-family: 'title_font';
}


/* Partie basse : "Learn more" + Background foncé */
.carte-pied {
  color: #333;
  padding: 10px 20px;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'title_font'
}
.content-carte-excerpt {
  padding: 10px 20px;
  text-align: left;
  font-size: 12px;

  font-family: 'text_font'
}

.content-carte-excerpt h3{
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.homepage .carte-corps{
    background-color: #78c9b0;
}
.homepage .carte-pied{
    background-color: #00af8b;
}

.archive #lists .carte-corps{
    background-color: #78c9b0;
}
.archive #lists .carte-pied{
    background-color: #00af8b;
}

#community-engagement .carte-corps{
    background-color: #e8e88b;
}
#community-engagement .carte-pied{
    background-color: #d9e021;
}
#community-engagement .content-carte-titre{
    background-color: #e8e88b;
}
#community-engagement .content-carte-excerpt{
    background-color: #d9e021; 
    color: black;
}

#local-global .carte-corps{
    background-color: #f3b7bb;
}
#local-global .carte-pied{
    background-color: #ef3f49;
}
#local-global .content-carte-titre{
    background-color: #f3b7bb;
}
#local-global .content-carte-excerpt{
    background-color: #ef3f49;
    color: white
}
#access-inclu .carte-corps{
    background-color: #99c7e0;
}
#access-inclu .carte-pied{
    background-color: #1781ba;
}
#access-inclu .content-carte-titre{
    background-color: #99c7e0;
}
#access-inclu .content-carte-excerpt{
    background-color: #1781ba;
    color: white;
}
#adapt-resp .carte-corps{
    background-color: #b4b3d9;
}
#adapt-resp .carte-pied{
    background-color: #6a68a9;
}
#adapt-resp .content-carte-titre{
    background-color: #b4b3d9;
}
#adapt-resp .content-carte-excerpt{
    background-color: #6a68a9;
    color: white;
}
#roadmaps .carte-corps{
    background-color: #bfdea6 ;
}
#roadmaps .carte-pied{
    background-color: #70b744;
}
#roadmaps .content-carte-titre{
    background-color: #bfdea6 ;
}
#roadmaps .content-carte-excerpt{
    background-color: #70b744;
    color: white;
}
#outside-edgelands .carte-corps{
    background-color: #ecc4ae ;
}
#outside-edgelands .carte-pied{
    background-color: #ed8540;
}
#outside-edgelands .content-carte-titre{
    background-color: #ecc4ae ;
}
#outside-edgelands .content-carte-excerpt{
    background-color: #ed8540;
    color: white;
}

a {
    color: #2980b9;
    text-decoration: none;
}
img{ /* making the img dimensions responsive */
    width: 100%; 
    height: auto;
}

.logo-container {
    text-align: center;
    /* margin-bottom: 1.5rem; */
    margin: 0 auto; /* centering the logo in the middle of the page */
}

.logo {
    max-width: 100%; 
    height: auto;
    border: none;
    display: block;
}

/* Grid container - content grids */
.grid-container {
    display: grid;
    /* Crée des colonnes automatiques : minimum 250px de large, sinon elles se répartissent */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Espace entre les cartes */
    margin: 0 auto;
}

/* Responsiveness */
@media (max-width: 1200px){
    .archive{
        margin-left: 60px;
        margin-right: 200px;
    }
    .archive-page{
        margin-left: 60px;
        margin-right: 200px;
    }
}
@media (max-width: 768px) {

  .homepage .carte-titre{
    text-align: center;
    font-size: 15px;
  }
  .carte-pied{
    font-size: 12px;
  }
}
@media (max-width: 600px) {
    .boutons-container{
        flex-direction: column;
    }
    p{
        font-size: 13px;
    }
    .homepage{
        margin-left: 60px;
    }
    .institute{
        margin-left: 60px;
    }
    .archive{
        margin-left: 60px;
        margin-right: 100px;
    }
    .archive-page{
        margin-left: 60px;
        margin-right: 100px;
    }
    .carte-titre{
        font-size: 12px;
    }
    .homepage .carte-titre{
        text-align: center;
    }
    .homepage .carte-bouton{ /* making the stacked buttons take a larger width at the homepage */
        width: 100%;
    }
    .archive #lists .carte-corps{
        justify-content: left;
    }
    .carte-pied{
        font-size: 10px;
    }
    .logo{
        width: 250px;
    }
    summary{
        font-size: 15px;
    }
    h2, h1{
        font-size: 20px;
    }
}